@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

@font-face {
  font-family: "Coolvetica";
  src: url("../fonts/coolvetica-rg.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Coolvetica";
  src: url("../fonts/coolvetica-compressed.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Coolvetica";
  src: url("../fonts/coolvetica.otf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Coolvetica";
  src: url("../fonts/coolvetica-condensed.otf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Primary";
  src: url("../fonts/Primary/primary.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Primary";
  src: url("../fonts/Primary/heading.woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Primary";
  src: url("../fonts/Primary/light.woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Logo";
  src: url("../fonts/Logo/Gafata-Regular.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Logo";
  src: url("../fonts/Logo/Cassannet.otf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Logo";
  src: url("../fonts/Logo/Glober-Thin.otf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Logo";
  src: url("../fonts/Logo/Glober-SemiBold.otf");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: primary;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
